//@use "partials/lisa";
@use "partials/menu";
@use "partials/peter";
@use "partials/root";
@use "partials/bc_site";
@use "partials/key_site";
@use "partials/form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {}



body {
  display: flex;
  justify-content: center;

  font-family: "GT-Walsheim-Pro-Regular";
  width: 100vw;
  background: black;

}

.container1 {
  margin: 0 auto;
  max-width: 1920px;
  background: white;
  overflow-x: hidden;
}


.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 0.0rem;


  height: 0;
}

::-webkit-scrollbar-track {
  background: #fff;
  --webkit-box-shadow: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ffed00;
}

::selection {
  background: #fcf8bc;
}

::-moz-selection {
  background: #fcf8bc;
}

.container1 {
  overflow: scroll;
  scroll-behavior: smooth;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 700px) {

  .arrow_left,
  .arrow_right {
    margin: 0 4rem;
  }
}