@use "partials/lisa";
@use "partials/menu";
@use "partials/peter";
@use "partials/root";
@use "partials/bc_site";
@use "partials/key_site";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ffed00;
}

::selection {
  background: #ccc188;
}

::-moz-selection {
  background: #ccc188;
}