body {
  overflow-x: hidden;
}

#key_site {
  background-color: black;
  padding-bottom: 50px;

  .licensing {
    padding-top: 30px;
  }
}

#key_site0 {
  padding-bottom: 50px;
  color: white;

  h1,
  h2,
  h3 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
  }
}

#key_site2 {
  p {
    color: black;
  }

  p > span {
    font-weight: bold;
  }

  .tekst-container {
    h1 {
      color: black;
      font-size: 3.5rem;
      line-height: 3.7rem;

      span {
        color: var(--color-3);
      }
    }
  }
}

.licensing,
.enhancing,
#key_site2 .tekst-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.licensing,
.enhancing {
  width: 100%;
}

.container {
  overflow-x: hidden;
}

.image1 {
  background-image: url("/static/billeder/man_laughing.jpg");
  border-radius: 50% 0px 0px 50%;
  background-position: right;
  transform: translateX(10%);
  float: right;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.image2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-image: url("/static/billeder/computer_and_hands.jpg");
  border-radius: 0px 50% 50% 0px;
  background-position: right;
  transform: translateX(-10%);
  float: left;
}

.image {
  height: 25rem;
  width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  position: relative;
}

p > span {
  font-weight: bold;
}

.testhenrik {
  width: 30%;
  height: auto;
  border-radius: 0 100% 100% 0;
  transform: translate(-85px, 16px);
  background-color: red;
}

#key_site div.learn-more {
  margin-top: 6rem;
}

.learn-more > .lcontainer {
  height: 200px;
  width: 90%;
  background-color: white;
  overflow: hidden;
  border-radius: 0px 100px 100px 0px;
  padding: 4rem;
}

.learn-more .tekst {
  display: grid;
  justify-content: end;
  margin-right: 15px;
}

#key_site div.learn-more p {
  font-size: 1rem;
  color: black;
  padding: 0em;
}

#key_site div.learn-more h3 {
  padding: 0;
  font-size: 1.25rem;
}

#key_site div.learn-more h3 a {
  padding: 0;
  color: black;
}

#key_site2 .container {
  background-color: white;
}

@media only screen and (min-width: 520px) {
  .image {
    height: 35rem;
    width: 35rem;
  }
}

@media only screen and (min-width: 690px) {
  .image {
    height: 45rem;
    width: 45rem;
  }
}

@media only screen and (min-width: 770px) {
  #key_site0 {
    padding-bottom: 50px;
    color: white;
    h1,
    h2,
    h3 {
      font-size: 2.5rem;
      line-height: 2.7rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  .image {
    height: 45rem;
    width: 45rem;
    transform: translateX(0px);
  }

  .licensing,
  .enhancing {
    width: 45%;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #key_site {
    .learn-more > .lcontainer {
      width: 35%;
      height: 200px;
    }

    .container {
      overflow-y: hidden;
      min-height: 60rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .image {
      height: 60rem;
      width: 60rem;
      position: absolute;
      top: -20rem;
      right: -25rem;
    }
  }

  #key_site2 {
    .container {
      display: grid;
      grid-template-columns: repeat;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-columns: 40% 60%;
      justify-content: center;
      align-items: center;
      height: 50rem;
      overflow-y: hidden;
    }
    .image {
      margin: 0;
      height: 50rem;
      width: 50rem;
      /* transform: translateX(-25rem); */
      position: absolute;
      bottom: -25rem;
      left: -25rem;
      float: none;
    }
  }
}

@media only screen and (min-width: 1100px) {
  #key_site2 {
    h1 {
      padding-bottom: 5rem;
    }
    .childs {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 1fr;
      grid-gap: 1rem;
    }
  }
}

@media only screen and (min-width: 1100px) {
  #key_site2 {
    .image {
      left: -20rem;
    }
  }
}

@media only screen and (min-width: 1100px) {
  #key_site2 {
    .container {
      grid-template-columns: 35% 60%;
    }
  }

  #key_site {
    .licensing,
    .enhancing {
      width: 50%;
    }
  }
}
@media only screen and (min-width: 1600px) {
  #key_site2 {
    .container {
      grid-template-columns: 30% 60%;
    }
    .childs {
      grid-gap: 4rem;
    }
    .tekst-container {
      h1 {
        color: black;
        font-size: 6.5rem;
        line-height: 6.7rem;

        span {
          color: var(--color-3);
        }
      }
    }
  }

  #key_site {
    .licensing,
    .enhancing {
      width: 55%;
    }

    .image {
      right: -15rem;
    }
  }
}

//  #keysite skabelon done

// key_site s2 start
