@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("/static/font/GT-Walsheim-Pro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-Walsheim-Pro-Regular";
  src: url("/static/font/GT-Walsheim-Pro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

#bc_site {
  footer {
    grid-template-columns: repeat(5, 1fr);

    justify-items: center;
    align-items: center;
  }

  footer > div {
    padding: 2rem;
  }

  footer a {
    grid-column: 5;
  }

  footer.bc-footer {
    background-color: white;

    .footerImg {
      background-image: url("/static/billeder/dxc-sort.png");
    }
  }

  /*   padding: 0 4rem 2rem; */

  .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 6rem;
  }

  article p {
    font-family: "GT-Walsheim-Pro-Regular";
    padding-left: 0px;
    color: black;
    line-height: 1.3rem;
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  h1.vs {
    font-family: "GT-Walsheim-Pro-Regular";
    padding-left: 0px;
    color: black;
    font-size: 3rem;
    line-height: 3rem;
    width: 42%;
  }

  .artikel {
    padding: 4rem;
    padding-top: 0rem;
    overflow-x: hidden;
  }

  .box1,
  .box2,
  .box3 {
    max-width: 59rem;
    padding: 6rem;
    margin-top: -120px;
    align-content: center;
    align-items: baseline;
    justify-items: center;
    display: grid;
  }

  .box1 h1 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }

  .box2 h1 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }

  .box3 h1 {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }

  .box1 p {
    font-size: 1rem;
    width: 18rem;
    margin-left: 2.2rem;
  }

  .box2 p {
    font-size: 1rem;

    width: 18rem;
    margin-left: 2.2rem;
  }

  .box3 p {
    font-size: 1rem;
    width: 18rem;
    margin-left: 2.2rem;
  }

  .box1 h2 {
    justify-self: center;
  }

  .box2 h2 {
    justify-self: center;
  }

  .box3 h2 {
    justify-self: center;
  }

  h1 {
    font-family: "GT-Walsheim-Pro-Regular";

    padding-left: 0px;
    color: black;
    font-size: 2.5rem;
  }

  h2,
  h3 {
    font-family: "GT-Walsheim-Pro-Regular";
    padding: 1rem 0;

    color: black;
  }

  .vs_text {
    width: 50%;
  }

  p {
    font-family: "GT-Walsheim-Pro-Regular";

    padding-left: 0px;
    color: black;
    font-size: 1rem;
  }

  #footerarea {
    width: 100vw;
    background-color: black;
    /*    transform: translate(-4rem, 0px); */
  }

  .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .infobox1 {
    color: white;
    padding: 4rem;
  }

  .infobox1 h1 {
    color: white;
    font-size: 20px;
    width: 80%;
  }

  .info ul {
    padding: 0.5rem 0 2rem;
  }

  .infobox1 li {
    opacity: 0.5;
    list-style: none;
  }

  .infobox1 h2 {
    color: white;
    font-size: 15px;

    margin-bottom: -15px;
    margin-top: 15px;
  }

  .infobox2 {
    color: white;
    padding-top: 60px;
  }

  .infobox2 h1 {
    color: white;
    font-size: 20px;
    width: 80%;
  }

  .infobox2 li {
    opacity: 0.5;
    list-style: none;
  }

  .infobox2 h2 {
    color: white;
    font-size: 15px;

    margin-bottom: -15px;
    margin-top: 15px;
  }

  // footer area list paddings

  #info2ul > ul:nth-child(3) {
    padding: 0.5rem 0 6rem;
  }

  #info2ul > ul:nth-child(5) {
    padding: 0.5rem 0 17.43rem;
  }

  #info2ul > ul:nth-child(7) {
    padding: 0.5rem 0 5rem;
  }

  #info1ul > ul:nth-child(3) {
    padding: 0.5rem 0 2.5rem;
  }

  #info1ul > ul:nth-child(9) {
    padding: 0.5rem 0 2.5rem;
  }

  #info1ul > ul:nth-child(5) {
    padding: 0.5rem 0 3rem;
  }

  #info1ul > ul:nth-child(9) {
    padding: 0.5rem 0 4rem;
  }

  #info1ul > ul:nth-child(7) {
    padding: 0.5rem 0 4rem;
  }

  .key_heading {
    font-size: 2.5rem;
    padding-top: 4rem;
    line-height: 2.5rem;
  }

  .picturebanner {
    background-image: url(/static/billeder/working.jpg);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
    width: 62rem;
    border-radius: 100% 50% 50% 100%;
    height: 55rem;
    /*transform: translate(60vw, -10rem); */
    position: absolute;
    right: -22rem;
  }

  .key_heading {
    width: 65%;
  }

  .key_text {
    width: 60%;
  }

  #picturebanner img {
    width: 100%;
    height: auto;
  }

  #blackcircle {
    width: 35.1rem;
    height: 30rem;
    border-radius: 0 40rem 40rem 0;
    background-color: black;
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
  }

  .circletext {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #blackcircle h1 {
    color: white;
    width: 83%;
    padding: 2rem;
  }

  #blackcircle span {
    color: yellow;
  }

  #blackcircle li {
    list-style: none;
    color: white;
    line-height: 2rem;
    /* padding: 0rem; */
    padding-left: 2rem;
    font-size: 1rem;
  }

  #blackcircle ul {
  }

  .picturebanner2 {
    background-image: url(/static/billeder/computer_man.jpg);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
    width: 55rem;
    border-radius: 100% 50% 50% 100%;
    height: 55rem;
    /*  transform: translate(40vw, -6rem); */
    position: absolute;
    right: -27rem;
  }

  #picturebanner2 img {
    width: 100%;
    height: auto;
    /*   transform: translate(0px, 10px); */
  }

  .explainedtitle {
    margin-top: 60px;
    font-size: 3.5rem;
    padding: 2rem;
  }

  @media only screen and (max-width: 1500px) {
    .picturebanner2 {
      background-image: url(/static/billeder/computer_man.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 55rem;
      border-radius: 100% 50% 50% 100%;
      height: 55rem;
      /*      transform: translate(30vw, -6rem); */
      position: absolute;
    }

    .box1,
    .box2,
    .box3 {
      max-width: 59rem;
      padding: 2rem;
      margin-top: -120px;
      align-content: center;
      align-items: baseline;
      justify-items: center;
      display: grid;
    }
  }

  @media only screen and (max-width: 1260px) {
    .picturebanner {
      background-image: url(/static/billeder/working.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 50rem;
      border-radius: 100% 50% 50% 100%;
      height: 50rem;
      /* transform: translate(50vw, 0rem); */
      position: absolute;
    }

    .picturebanner2 {
      background-image: url(/static/billeder/computer_man.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 55rem;
      border-radius: 100% 50% 50% 100%;
      height: 55rem;
      /*       transform: translate(25vw, -6rem); */
      position: absolute;
    }

    .vs,
    .vs_text {
      width: 60%;
    }

    .key_heading {
      width: 100%;
    }

    .key_text {
      width: 100%;
    }

    #blackcircle {
      width: 42%;
    }

    #info2ul > ul:nth-child(3) {
      padding: 0.5rem 0 2rem;
    }

    #info2ul > ul:nth-child(5) {
      padding: 0.5rem 0 2rem;
    }

    #info2ul > ul:nth-child(7) {
      padding: 0.5rem 0 2rem;
    }

    #info1ul > ul:nth-child(3) {
      padding: 0.5rem 0 2rem;
    }

    #info1ul > ul:nth-child(7) {
      padding: 0.5rem 0 2rem;
    }

    #info1ul > ul:nth-child(9) {
      padding: 0.5rem 0 2rem;
    }
  }

  @media only screen and (max-width: 1000px) {
    .info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .infobox1 {
      flex-basis: 500px;
      flex-grow: 1;
    }
    .vs,
    .vs_text {
      width: 40%;
    }

    .infobox2 {
      flex-basis: 500px;
      flex-grow: 1;
      width: 100%;
      padding: 0 4rem;
    }

    .picturebanner2 {
      background-image: url(/static/billeder/computer_man.jpg);
      background-repeat: no-repeat;
      background-position: 110% 50%;
      background-size: cover;
      width: 60rem;
      border-radius: 100% 50% 50% 100%;
      height: 60rem;
      /*  transform: translate(45vw, -50rem); */
      position: absolute;
    }
  }

  @media only screen and (max-width: 768px) {
    footer {
      grid-template-columns: repeat(1, 1fr);
    }

    footer a {
      grid-column: 1;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .infobox2 {
      color: white;
      padding: 50px;
      padding-top: 0px;
      margin-right: 0px;
    }

    p {
      font-size: 1rem;
    }

    .vs,
    .vs_text {
      width: 100%;
    }

    h1,
    h2,
    h3,
    p {
      padding-bottom: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    .infobox1 h1 {
      color: white;

      width: 100%;
    }

    .key_heading {
      font-size: 2rem;
      margin-bottom: 1rem;
      line-height: 2rem;
    }

    .infobox2 h1 {
      color: white;
      font-size: 26px;
      width: 100%;
    }

    #blackcircle {
      background-color: black;

      width: 61%;
    }

    #blackcircle h1 {
      font-size: 2rem;
    }

    #blackcircle ul {
      font-size: 1rem;
    }

    article h1 {
      font-size: 2rem;
    }

    #bc_site {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .picturebanner {
      background-image: url(/static/billeder/working.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 55rem;
      border-radius: 100% 50% 50% 100%;
      height: 50rem;
      transform: translate(5rem, 0rem);
      position: static;
    }

    .picturebanner2 {
      background-image: url(/static/billeder/computer_man.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 45rem;
      border-radius: 100% 50% 50% 100%;
      height: 52rem;
      transform: translate(6rem, -1rem);
      position: static;
    }

    .infobox1 {
      display: flex;
      flex-direction: column;
      color: white;
      // padding: 1rem;
      margin: 0 auto;
    }

    .infobox2 {
      display: flex;
      flex-direction: column;
      color: white;
      margin: 0 auto;
      width: 100%;
      overflow-x: hidden;
    }

    .key_heading {
      width: 100%;
    }

    .key_text {
      width: 100%;
    }

    .infobox1 {
      padding: 3rem;
    }

    .inforbox2 {
      padding: 3rem;
    }
  }

  @media only screen and (max-width: 500px) {
    #blackcircle {
      background-color: black;
      width: 87%;
      margin-top: 0;
    }

    h1.vs {
      font-family: "GT-Walsheim-Pro-Regular";
      padding-left: 0px;
      color: black;
      font-size: 3.5rem;
      width: 100%;
    }

    .explainedtitle {
      margin-top: 60px;
      font-size: 3.5rem;
      padding: 0rem;
      justify-content: left;
    }

    .box1 h2 {
      justify-self: left;
    }

    .box2 h2 {
      justify-self: left;
    }

    .box3 h2 {
      justify-self: left;
    }

    .box1 p {
      margin-left: 0rem;
    }

    .box2 p {
      margin-left: 0rem;
    }

    .box3 p {
      margin-left: 0rem;
    }

    .artikel {
      padding: 2rem;
      padding-top: 0rem;
      overflow-x: hidden;
    }

    .artikel {
      padding: 2rem;
    }
    article:nth-child(2) {
      padding: 2rem;
    }

    article p {
      margin-top: 0px;
    }

    .picturebanner {
      background-image: url(/static/billeder/working.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 40rem;
      border-radius: 100% 50% 50% 100%;
      height: 40rem;
      /*       transform: translate(1rem, 0rem); */
      position: static;
    }

    #footerarea > div > div.infobox2 > div.picturebanner2 {
      margin-bottom: 60px;
    }

    .box1,
    .box2,
    .box3 {
      max-width: 59rem;
      padding: 4rem;
      align-content: left;
      align-items: baseline;
      justify-items: left;
      display: grid;
    }

    .box1 {
      justify-items: left;
    }

    .picturebanner2 {
      background-image: url(/static/billeder/computer_man.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 40rem;
      border-radius: 100% 50% 50% 100%;
      height: 40rem;
      /*    transform: translate(1rem, 0rem); */
      position: static;
    }

    .key_heading {
      width: 100%;
    }

    .key_text {
      width: 100%;
    }

    .infobox1 {
      padding: 2rem;
    }

    .inforbox2 {
      padding: 2rem;
    }

    #bc_site {
      padding: 0 2rem 2rem 2rem;
    }

    #blackcircle h1 {
      font-size: 2rem;
      line-height: 2rem;
    }

    .boxes {
      grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));
    }
  }

  @media only screen and (max-width: 430px) {
    #blackcircle h1 {
      font-size: 1.5rem;
      line-height: 1.5rem;

      width: 81%;
    }
  }
}
