@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("/static/font/GT-Walsheim-Pro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim-Pro-Regular";
  src: url("/static/font/GT-Walsheim-Pro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

#bc_site {
  padding-left: 4rem;
  padding-right: 4rem;

  .boxes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 20px;
  }

  article p {
    font-family: "GT-Walsheim-Pro-Regular";
    padding-left: 0px;
    color: black;
    line-height: 30px;
    font-size: 20px;
    margin-top: -30px;
  }

  .box1 h1 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: -30px;
  }
  .box2 h1 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: -30px;
  }
  .box3 h1 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: -30px;
  }

  .box1 p {
    font-size: 0.9rem;

    /* padding: 50px; */
    padding-top: 20px;
    padding-left: 40px;
  }

  .box2 p {
    font-size: 0.9rem;

    /* padding: 50px; */
    padding-top: 20px;
    padding-left: 40px;
  }

  .box3 p {
    font-size: 0.9rem;

    /* padding: 50px; */
    padding-top: 20px;
    padding-left: 40px;
  }

  .box1 h2 {
    text-align: center;
  }
  .box2 h2 {
    text-align: center;
  }
  .box3 h2 {
    text-align: center;
  }

  h1 {
    font-family: "GT-Walsheim-Pro-Bold";
    padding: 20px;
    padding-left: 0px;
    color: black;
    font-size: 3rem;
  }

  h2,
  h3 {
    font-family: "GT-Walsheim-Pro-Bold";
    padding: 20px;
    padding-left: 0px;
    color: black;
  }

  p {
    font-family: "GT-Walsheim-Pro-Regular";
    padding: 20px;
    padding-left: 0px;
    color: black;
    font-size: 0.9rem;
  }

  #footerarea {
    width: 100vw;
    height: 100%;
    background-color: black;
    transform: translate(-5rem, 0px);
  }

  .info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .infobox1 {
    color: white;
    padding: 4rem;
  }

  .infobox1 h1 {
    color: white;
    font-size: 20px;
  }

  .infobox1 li {
    opacity: 0.5;
    list-style: none;
  }

  .infobox1 h2 {
    color: white;
    font-size: 15px;

    margin-bottom: -15px;
  }

  .infobox2 {
    color: white;
    padding-top: 60px;
    margin-right: -1400px;
  }

  .infobox2 h1 {
    color: white;
    font-size: 20px;
  }

  .infobox2 li {
    opacity: 0.5;
    list-style: none;
  }

  .infobox2 h2 {
    color: white;
    font-size: 15px;

    margin-bottom: -15px;
  }

  .picturebanner {
    background-image: url(/static/billeder/working.jpg);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
    width: 66vw;
    border-radius: 100% 50% 50% 100%;
    height: 66vw;
    transform: translate(50rem, -10rem);
    position: absolute;
  }

  #picturebanner img {
    width: 100%;
    height: auto;
  }

  #blackcircle {
    width: 30%;
    height: auto;
    border-radius: 0 100% 100% 0;
    transform: translate(-85px, 16px);
    background-color: black;
  }

  #blackcircle h1 {
    color: white;
    font-size: 20px;
    padding: 80px;
    width: 400px;
    transform: translate(-25px, 0px);
  }

  #blackcircle span {
    color: yellow;
  }

  #blackcircle li {
    list-style: none;
    color: white;
    padding: 80px;
    width: 400px;
    padding-bottom: 0;
    margin-top: -65px;
  }

  #blackcircle ul {
    position: relative;
    top: -60px;
    transform: translate(-25px, 0px);
    padding-bottom: 20px;
  }

  .picturebanner2 {
    background-image: url(/static/billeder/computer_man.jpg);
    background-repeat: no-repeat;
    background-position: 83% 50%;
    background-size: cover;
    width: 66vw;
    border-radius: 100% 50% 50% 100%;
    height: 66vw;
    transform: translate(25rem, -6rem);
    position: absolute;
  }

  #picturebanner2 img {
    width: 100%;
    height: auto;
    transform: translate(0px, 10px);
  }

  .explainedtitle {
    margin-top: 60px;
  }

  @media only screen and (max-width: 700px) {
    .boxes {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .infobox2 {
      color: white;
      padding: 50px;
      padding-top: 0px;
      margin-right: 0px;
    }

    p {
      font-size: 1rem;
    }

    h1,
    h2,
    h3,
    p {
      padding-bottom: 1rem;
    }

    .infobox1 h1 {
      color: white;
      font-size: 26px;
      width: 100%;
    }

    .infobox2 h1 {
      color: white;
      font-size: 26px;
      width: 100%;
    }

    #blackcircle {
      background-color: black;
      transform: translate(-81px, 10px);
      width: 90vw;
      height: 90vw;
    }

    #blackcircle h1 {
      font-size: 30px;
    }

    #blackcircle ul {
      font-size: 20px;
    }

    article h1 {
      font-size: 2.5rem;
      width: 350px;
    }

    #bc_site {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .picturebanner {
      background-image: url(/static/billeder/working.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 170vw;
      border-radius: 100% 50% 50% 100%;
      height: 170vw;
      transform: translate(1rem, 0rem);
      position: static;
    }

    .picturebanner2 {
      background-image: url(/static/billeder/computer_man.jpg);
      background-repeat: no-repeat;
      background-position: 83% 50%;
      background-size: cover;
      width: 170vw;
      border-radius: 100% 50% 50% 100%;
      height: 170vw;
      transform: translate(1rem, 0rem);
      position: static;
    }

    .infobox1 {
      display: flex;
      flex-direction: column;
      color: white;
      padding: 1rem;
      margin: 0 auto;
    }

    .infobox2 {
      display: flex;
      flex-direction: column;
      color: white;
      margin: 0 auto;
    }
  }
}
