@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("/static/font/GT-Walsheim-Pro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-Walsheim-Pro-Regular";
  src: url("/static/font/GT-Walsheim-Pro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

#bc_site {
  footer {
    grid-template-columns: repeat(5, 1fr);

    justify-items: center;
    align-items: center;
  }

  footer>div {
    padding: 2rem;
  }

  footer a {
    grid-column: 5;
  }

  footer.bc-footer {
    background-color: white;

    .footerImg {
      background-image: url("/static/billeder/dxc-sort.png");
    }
  }

  .bc-footer a {
    color: black;
    text-decoration: none;
  }

  .bc-footer>a:nth-child(1) {
    grid-column: 1;
  }

  /*   padding: 0 4rem 2rem; */

  .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: baseline;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 4rem;

  }

  article p {}

  h1.vs {
    font-family: "GT-Walsheim-Pro-Regular";
    padding-left: 0px;
    color: black;
    font-size: 2.5rem;
    line-height: 3rem;
    width: 125%;

  }

  .artikelGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .tekst-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .tekst-container2 {
    grid-column: 1/ span 2;
    grid-row: 3;
    padding-left: 4rem;
  }

  .tekst-container {

    h1,
    p,
    h2,
    h3 {
      padding-left: 4rem;
    }
  }

  .box1,
  .box2,
  .box3 {
    /*     display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    justify-items: baseline;
    align-items: center; */


  }

  .boxes h1 {

    font-size: 2.4rem;
    margin-bottom: 1rem;
    padding-left: 4rem;

  }

  .boxes h2 {
    padding-left: 4rem;

  }

  .boxes p {
    font-size: 0.95rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-self: center;


  }


  h1 {
    font-family: "GT-Walsheim-Pro-Regular";

    padding-left: 0px;
    color: black;
    font-size: 2.5rem;
  }

  h2,
  h3 {
    font-family: "GT-Walsheim-Pro-Regular";
    padding: 1rem 0;

    color: black;
  }

  .vs_text {

    margin-bottom: 5rem;
  }

  p {
    font-family: "GT-Walsheim-Pro-Regular";

    padding-left: 0px;
    color: black;
    font-size: 0.95rem;
  }

  #footerarea {
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
    /*    transform: translate(-4rem, 0px); */
  }

  .info {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: baseline;
    justify-items: center;
    padding: 4rem;
  }

  .infobox1 {
    color: white;
    border-right: 1.5px solid white;
    grid-column: 1;
    grid-row: 1;
    width: 100%;

  }

  #info1ul,
  #info2ul {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 160px);

    justify-items: baseline;
  }

  .fourth {
    grid-row: 4;

  }

  .fifth {
    grid-row: 5;
  }

  #info2ul {
    padding-left: 3rem;
  }

  .infobox1 h1,
  .infobox2 h1 {
    min-height: 110px;
    border-bottom: 3px solid white;

    width: 100%;
  }

  .infobox1 h1 {
    padding-bottom: 2rem;
    padding-right: 2rem;
    color: white;
    font-size: 20px;


  }

  .info ul {
    padding: 0.5rem 0 2rem;
  }

  .infobox1 li {
    opacity: 0.5;
    list-style: none;
  }

  .infobox1 h2 {
    color: white;
    font-size: 15px;

  }

  .infobox2 {
    color: white;
    grid-column: 2;
    justify-self: end;
    height: 100%;
    width: 100%;
    border-left: 1.5px solid white;

  }

  .item-container h3 {
    color: white;
    font-family: "GT-Walsheim-Pro-bold";
  }

  .item-container p {
    color: white;
  }

  .infobox2 h1 {
    color: white;
    font-size: 20px;
    padding-bottom: 2rem;
    padding-left: 3rem;

  }

  .infobox2 li {
    opacity: 0.5;
    list-style: none;
  }

  .infobox2 h2 {
    color: white;
    font-size: 15px;

    margin-bottom: -15px;
    margin-top: 15px;
  }

  // footer area list paddings


  .key_heading {
    font-size: 2.5rem;

    line-height: 2.5rem;
    width: 140%;
  }

  .picturebanner {
    background-image: url(/static/billeder/working.jpg);
    background-repeat: no-repeat;
    background-position: 110% 50%;
    background-size: cover;
    min-width: 22rem;
    min-height: 22rem;
    width: 100%;
    border-radius: 100% 0% 0% 100%;
    height: calc(100% - 10%);
    width: calc(100% - 15%);
    /* transform: translate(60vw, -10rem); */
    /* position: absolute; */
    grid-row: 1/span 5;
    grid-column: 3/span 3;
    /* top: 20%; */
    transform: translateX(15%);
    min-height: 22rem;
    min-width: 22rem;
    border-radius: 50% 0px 0px 50%;
    justify-self: end;
    /* position: relative; */


  }

  .key_heading {}

  .key_text {
    width: 125%;

  }

  #picturebanner img {
    width: 100%;
    height: auto;
  }

  #blackcircle {
    width: 65%;

    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0 40rem 40rem 0;
    background-color: black;
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    grid-column: 1/span 3;
    grid-row: 4;
    justify-self: left;
  }

  .circletext {
    width: 100%;
    padding-left: 4rem;
    padding-right: 2rem;

  }

  #blackcircle h1 {
    color: white;

    padding: 0;


  }

  #blackcircle span {
    color: yellow;
  }

  #blackcircle li {

    list-style: bullets;
    color: white;
    line-height: 2rem;
    /* padding: 0rem; */
    padding-left: 0rem;
    margin-left: 2rem;

    font-size: 1rem;
  }

  #blackcircle ul {
    padding-top: 1rem;
  }

  .theInfos {
    grid-row: 1;
    grid-column: 1 /span 2;
  }

  .picturebanner2 {
    grid-column: 3 /span 2;
    grid-row: 1;

    transform: translateX(15%);
    background-image: url(/static/billeder/computer_man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 115% 50%;
    min-height: 22rem;
    min-width: 22rem;
    height: 100%;
    width: 100%;
    border-radius: 50% 0px 0px 50%;





  }

  #picturebanner2 img {
    width: 100%;
    height: auto;
    /*   transform: translate(0px, 10px); */
  }

  .explainedtitle {
    text-align: left;
    font-family: "GT-Walsheim-Pro-Bold";
    font-size: 3.5rem;
    padding: 2rem;
    padding-left: 6rem;
  }

  @media only screen and (max-width: 1700px) {

    .picturebanner {}
  }

  @media only screen and (max-width: 1500px) {
    .picturebanner {
      height: calc(100% - 20%);
      grid-row: 1 / span 4;
      width: 100%;

    }

    .artikelGrid {
      grid-template-rows: repeat(4, 1fr);
    }

    .tekst-container {
      grid-row: 1;

    }

    .tekst-container2 {
      grid-row: 2;
    }

    #blackcircle {
      grid-row: 3 /span 2;
    }

    .key_text {
      width: 135%;
    }

    .key_heading {
      width: 145%;
    }

    .picturebanner {}

    .box1,
    .box2,
    .box3 {
      /*   max-width: 59rem;
      padding: 2rem;
      margin-top: -120px;
      align-content: center;
      align-items: baseline;
      justify-items: center;
      display: grid; */
    }
  }

  @media only screen and (max-width: 1260px) {
    .picturebanner {
      grid-row: 1 / span 4;

    }

    .picturebanner {
      height: calc(100% - 20%);
      grid-row: 2 / span 3;
      width: 100%;

    }

    .key_text {
      width: 225%;
    }

    .key_heading {
      width: 225%;
    }

    h1.vs {
      width: 200%;
    }

    .vs_text {
      width: 150%;
    }

    #blackcircle {
      width: 65%;
    }


    .picturebanner2 {

      /*       transform: translate(25vw, -6rem); */
    }

    #footerarea {
      grid-template-columns: repeat(2, 1fr);

      .info {
        grid-template-columns: repeat(2, 1fr);


      }





      .picturebanner2 {
        grid-row: 2;
        grid-column: 1 / span 2;
        min-height: 50rem;
        max-width: 70rem;
        transform: translateX(40%);
      }
    }




  }

  @media only screen and (max-width: 1000px) {

    #footerarea {
      .picturebanner2 {
        transform: translateX(15%);
      }
    }

    .boxes {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
      grid-gap: 3rem;
    }

    .tekst-container,
    .tekst-container2 {
      grid-column: 1;
      padding-left: 2rem;
      padding-right: 2rem;

      h1,
      p,
      h2,
      h3 {
        padding: 0rem;
        padding-bottom: 1rem;
      }
    }

    .artikelGrid {
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 2rem;
    }

    .tekst-container1 {
      grid-column: 1;
      grid-row: 1;

    }



    .tekst-container2 {
      grid-column: 1;
      grid-row: 2;

    }

    .picturebanner {
      grid-row: 3;
      grid-column: 1;
    }

    #blackcircle {
      grid-row: 4;
      grid-column: 1;
    }

    .key_text {
      width: 100%;

    }

    .key_heading {
      width: 100%;


    }

    h1.vs {
      width: 100%;

    }

    .vs_text {
      width: 100%;

    }

    .tekst-container2 h3 {}

    #blackcircle {
      width: 65%;
    }

    .picturebanner {
      min-height: 40rem;
    }

    .info {}

    .infobox1 {}



    .infobox2 {}

    .picturebanner2 {

      /*  transform: translate(45vw, -50rem); */
    }
  }

  @media only screen and (max-width: 768px) {
    footer {
      grid-template-columns: repeat(1, 1fr);
    }

    .boxes {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-gap: 3rem;
    }

    .boxes {
      grid-gap: 1rem;
    }

    .boxes {

      h1,
      h2,
      h3,
      p {
        margin: 0;
      }
    }

    #blackcircle {
      width: 80%;
    }

    footer a {
      grid-column: 1;
    }

    p {
      font-size: 0.9em;
    }

    .vs,
    .vs_text {
      width: 100%;
    }

    .info {
      padding: 2rem;
    }

    .boxes {

      h1,
      h2,
      h3,
      p {
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }

    h1 {
      font-size: 2rem;
    }


    #blackcircle h1 {
      font-size: 2rem;
    }

    #blackcircle ul {
      font-size: 1rem;
    }

    article h1 {
      font-size: 2rem;
    }


    .key_heading {
      width: 100%;
    }


  }

  @media only screen and (max-width: 650px) {

    #footerarea {
      grid-template-columns: repeat(1, 1fr);

      .info {
        grid-template-columns: repeat(1, 1fr);

      }

      .infobox1 {
        grid-column: 1;
        grid-row: 1;
        border: none;
        padding: 0;

      }

      .infobox2 {
        grid-column: 1;
        grid-row: 2;
        border: none;

      }

      #info1ul,
      #info2ul {
        grid-template-rows: auto;
        padding: 0;
      }

      .infobox1 h1,
      .infobox2 h1 {
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 2rem;
        padding: 0;
      }

      .picturebanner2 {
        grid-row: 3;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    #blackcircle {
      background-color: black;

      margin-top: 0;
    }

    .picturebanner {}

    article>h2.key_heading {
      padding-top: 0;
    }

    h1.vs {
      font-family: "GT-Walsheim-Pro-Regular";
      padding-left: 0px;
      color: black;
      font-size: 3.5rem;
      width: 100%;
    }

    .explainedtitle {

      font-size: 3.5rem;
      padding: 3rem;
      justify-content: left;
    }


    .box1 p {
      margin-left: 0rem;
    }

    .box2 p {
      margin-left: 0rem;
    }

    .box3 p {
      margin-left: 0rem;
    }

    .artikel {
      padding: 2rem;
      padding-top: 0rem;
      overflow-x: hidden;
    }

    .artikel {}

    article:nth-child(2) {}

    article p {
      margin-top: 0px;
    }

    .picturebanner {}

    #footerarea>div>div.infobox2>div.picturebanner2 {}



    .box1 {
      justify-items: left;
    }

    .picturebanner2 {}

    .key_heading {
      width: 100%;
    }

    .key_text {
      width: 100%;
    }

    .infobox1 {
      padding: 2rem;
    }

    .inforbox2 {
      padding: 2rem;
    }

    #bc_site {
      padding: 0 2rem 2rem 2rem;
    }

    #blackcircle h1 {
      font-size: 2rem;
      line-height: 2rem;
    }

    .boxes {}
  }

  @media only screen and (max-width: 430px) {
    #blackcircle h1 {
      font-size: 1.5rem;
      line-height: 1.5rem;


    }

    #blackcircle {
      width: 95%;
    }
  }
}