:root {
  --color-1: #322f31;
  --color-2: #a2a2a2;
  --color-3: #f8f7f5;
  --color-4: #eeeae0;
  --color-5: #fbd2c0;
  --color-6: #b2ccab;
  --color-7: #a7bbce8e;
  --color-8: #87afc7;

  --font-1: "Montserrat", "sans-serif";
  --font-2: "Oswald", sans-serif;
  --font-3: "Roboto", sans-serif;
  --font-4: "PT Serif", serif;
  --font-5: "PT Sans", sans-serif;
  --font-6: "Quicksand", sans-serif;
  --font-7: "GT-Walsheim-Pro-Bold";
  --font-8: "GT-Walsheim-Pro-regular";

  --nav-height: 5vh;
}
