:root {
  --color-1: #000000;
  --color-2: #f2f2f2;
  --color-3: #ffed00;
  --color-4: #00c9ff;
  --color-5: #64ff00;
  --color-7: #a7bbce8e;
  --color-8: #87afc7;

  --font-1: "Montserrat", "sans-serif";
  --font-2: "Oswald", sans-serif;
  --font-3: "Roboto", sans-serif;
  --font-4: "PT Serif", serif;
  --font-5: "PT Sans", sans-serif;
  --font-6: "Quicksand", sans-serif;
  --font-7: "GT-Walsheim-Pro-Bold";
  --font-8: "GT-Walsheim-Pro-regular";

  --nav-height: 5vh;
}

@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("/static/font/GT-Walsheim-Pro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT-Walsheim-Pro-Regular";
  src: url("/static/font/GT-Walsheim-Pro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
